<script src="/js/jquery.js"></script>
<script src="/js/getPolls.js"></script>

<div id="circle-text"></div>

<h1>Welcome to myPOLLS!</h1>

<br>

{{#if user}}
  <h3>Hello, {{user.username}}!</h3>
  {{else}}
  <h3>Log in to create polls and vote!</h3>
{{/if}}

{{#if success_msg}}
  <div class="alert">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert">{{error_msg}}</div>
{{/if}}

{{#if error}}
  <div class="alert">{{error}}</div>
{{/if}}

<h3 id="no-polls">There are no polls yet.  Be the first to create one!</h3>
<ul class="display-polls">
  <!--getPolls.js will populate this list-->

</ul>
