<script src="/js/jquery.js"></script>
<script src="/js/profile.js"></script>

<h1>Profile</h1>

{{#if user}}


<table>
  <tr>
    <th>Username:</th>
    <td>{{user.username}}</td>
  </tr>
 <tr>
   <th>Name:</th>
   <td>{{user.first}} {{user.last}}</td>
 </tr>
 <tr>
   <th>Email:</th>
   <td>{{user.email}}</td>
 </tr>
 <tr>
   <th>Account ID:</th>
   <td>{{user.id}}</td>
 </tr>
 <tr>
   <th>Password:</th>
   <td><a href="/users/change-password">Change Password</a></td>
 </tr>
</table>


  <br>
{{/if}}

<h3>Your Polls:</h3>
<ul class="display-polls ul-profile">
  <!--data from userData.js will be appended here-->
</ul>
